## Imports

In [4]:
import pandas as pd
import numpy as np
import math

## Drop Duplicates

We use Google Colab for this operation instead of vanilla Jupyter Notebook because Google offers us more processing power to be able to carry out the task of removing duplicates from a dataset of 7 million rows.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
path = "/content/drive/MyDrive/results_with_dupl.csv"

In [8]:
results_with_dupl = pd.read_csv(path)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,4,5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
results_with_dupl

         Unnamed: 0                   ID  ... Likes                       CreatedAt
0                 0  1384521088089079808  ...     0  Tue Apr 20 14:55:25 +0000 2021
1                 1  1384521088038752257  ...     0  Tue Apr 20 14:55:25 +0000 2021
2                 2  1384521087912927234  ...     0  Tue Apr 20 14:55:25 +0000 2021
3                 3  1384521087057203201  ...     0  Tue Apr 20 14:55:24 +0000 2021
4                 4  1384521086369476609  ...     0  Tue Apr 20 14:55:24 +0000 2021
...             ...                  ...  ...   ...                             ...
9082194     9082194  1373225012459671554  ...     0  Sat Mar 20 10:48:50 +0000 2021
9082195     9082195  1373225011268313089  ...     0  Sat Mar 20 10:48:50 +0000 2021
9082196     9082196  1373225006176600065  ...     0  Sat Mar 20 10:48:49 +0000 2021
9082197     9082197  1373225003924131842  ...     0  Sat Mar 20 10:48:48 +0000 2021
9082198     9082198  1373225003924131842  ...     0  Sat Mar 20 10:48:48 +0000 2021

[9082199 rows x 8 columns]

In [10]:
results_with_dupl = results_with_dupl.loc[:, ~results_with_dupl.columns.str.contains('^Unnamed')]

In [11]:
results_with_dupl

                          ID  ...                       CreatedAt
0        1384521088089079808  ...  Tue Apr 20 14:55:25 +0000 2021
1        1384521088038752257  ...  Tue Apr 20 14:55:25 +0000 2021
2        1384521087912927234  ...  Tue Apr 20 14:55:25 +0000 2021
3        1384521087057203201  ...  Tue Apr 20 14:55:24 +0000 2021
4        1384521086369476609  ...  Tue Apr 20 14:55:24 +0000 2021
...                      ...  ...                             ...
9082194  1373225012459671554  ...  Sat Mar 20 10:48:50 +0000 2021
9082195  1373225011268313089  ...  Sat Mar 20 10:48:50 +0000 2021
9082196  1373225006176600065  ...  Sat Mar 20 10:48:49 +0000 2021
9082197  1373225003924131842  ...  Sat Mar 20 10:48:48 +0000 2021
9082198  1373225003924131842  ...  Sat Mar 20 10:48:48 +0000 2021

[9082199 rows x 7 columns]

We remove duplicate rows using the ID field as a key, because it is unique to every row (except from duplicate rows)

In [12]:
results = results_with_dupl.drop_duplicates('ID')

In [13]:
results

                          ID  ...                       CreatedAt
0        1384521088089079808  ...  Tue Apr 20 14:55:25 +0000 2021
1        1384521088038752257  ...  Tue Apr 20 14:55:25 +0000 2021
2        1384521087912927234  ...  Tue Apr 20 14:55:25 +0000 2021
3        1384521087057203201  ...  Tue Apr 20 14:55:24 +0000 2021
4        1384521086369476609  ...  Tue Apr 20 14:55:24 +0000 2021
...                      ...  ...                             ...
9082192  1373225013529210882  ...  Sat Mar 20 10:48:51 +0000 2021
9082193  1373225012459671554  ...  Sat Mar 20 10:48:50 +0000 2021
9082195  1373225011268313089  ...  Sat Mar 20 10:48:50 +0000 2021
9082196  1373225006176600065  ...  Sat Mar 20 10:48:49 +0000 2021
9082197  1373225003924131842  ...  Sat Mar 20 10:48:48 +0000 2021

[7089714 rows x 7 columns]

In [15]:
results.to_csv('/content/drive/MyDrive/results.csv')

In [16]:
results.isnull().sum()

ID                     0
Text                   0
UserName             443
UserFollowerCount      0
RetweetCount           0
Likes                  0
CreatedAt              0
dtype: int64